<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tal.tal.todolist21"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-sdk android:minSdkVersion="8" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inviteTeamMembersActivity"
            android:label="@string/title_activity_invite_team_members" />
        <activity android:name=".employeeWaitingTasksActivity" />
        <activity android:name=".createTaskActivity" />
        <activity android:name=".viewTaskDetailsActivity" />
        <activity android:name=".employeeAllTasksActivity" />
        <activity android:name=".managerWaitingTasksActivity" />
        <activity android:name=".signupActivity" />
        <activity android:name=".managerAllTasksActivity" />
        <activity android:name=".managerViewTaskDetailsActivity" />
        <activity android:name=".aboutActivity"></activity>
    </application>

</manifest>
